/* this is the main div that conteins everything */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*these are the buttons displayed as grid*/
.buttons {
    margin: 15px 0px 0px -200px;
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 80px);
    gap: 2px 2px;
    grid-template-areas:
        "Reset rainbow fine"
        "toggle black erase";
}

#rainbow {
    grid-area: rainbow;
}

#fine {
    grid-area: fine;
}

#toggle {
    grid-area: toggle;
}

#black {
    grid-area: black;
}

#erase {
    grid-area: erase;
}

/*the button style*/
button {
    display: block;
    border: none;
    background: #0069ed;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: 250ms ease-in-out,
        transform 150ms ease;
}

/*more style for when buttons are clicked*/
button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

/*this is the div for the drawings*/
#container {
    display: grid;
    border: 10px solid #0069ed;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 300px;
    background-color: #fff;
}

.gridItem {
    background-color: #fff;
    ;
}

.borderGrid {
    border: 1px solid rgb(145, 142, 142);
}

#title {
    position: relative;
    bottom: 200px;
    left: 96px;
    color: #0047a1;
    font-size: 50px;
}

body {
    background-color: #00ed84;
}

/* those are the classes that on toggle will change the effects */
.change {
    background-color:#000000;
}

.rainbow{
	background-color: #ff0000;
}

.erase{
	background-color: #ffffff;
}